* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background-image: url(https://mibithr.files.wordpress.com/2021/05/25501.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size:cover;
}

h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 20px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: 0.25ms;
}

input {
  margin-top: 20px;
  border-radius: 10px;
  outline: 2px solid #fff;
  border: 0;
  background-color: #ffffffc3;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
}

input:focus {
  outline-offset: 5px;
  background-color: #fff
}

#result {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

#result img {
  margin-top: 10px;
}

.desc {
  font-size: 20px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #202020 #202020;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 7px;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  border: 2px solid #3fa9ff;
}

*::-webkit-scrollbar-thumb:active {
  border-radius: 5px;
  background-color: #3fa9ff;
}

#result p:nth-child(4n){
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

span {
  font-size: 20px;
  vertical-align: top;
}

.desc::first-letter {
  text-transform: uppercase;
}

#prev {
  max-width: 320px;
  display: flex;
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
}

.oldDate{opacity: 60%;}

#prev img {
  width: 50%;
}

.prevs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  flex: 0 0 auto;
}

.suns {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sun {
  display: flex;
  text-align: start;
  align-items: center;
}

.sun svg {
  width: 40px;
  height: 100px;
} 

.hour {
  font-size: 20px;
}

p {
  font-size: 15px;
}

.sun:first-child{
  margin-right: 10px;
}